# WARNING: dependency management and publishing is now being handled with poetry
[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "==19.10b0"
isort = "*"
invoke = "*"
prospector = {extras = ["with_pyroma"],version = "*"}

[dev-packages]
pytest = "*"
pytest-cov = "*"
coveralls = "*"
bumpversion = "*"

[requires]
python_version = "3.7"
